<html>
<head>

<link rel='stylesheet' href="style.css"/>
</head>
<body>

<div id="topBar">
	<div id="topMenu">
		<h2 class="title">obct537.com</h2>
		
		<ul class="login"/>
			<li>
			<a href="#">
				<div class="topLogin">
					<p class=topLoginP">Login</p>
				</div>
			</a>
			</li>

		</ul>
		<ul class="navbar">
			<li><a href="#">Home</a></li>
			<li><a href="#">Blog</a></li>
			<li><a href="#">CSS</a></li>
		</ul>
</div>

<div id="wrapper">

	<div class="banner">
		<h2>Welcome</h2>
	</div>
	<div id="contentBox">
		<p>Hi, This is just a placeholder for right now. This is the area where
		I'm developing my own, custom theme. If things seem a bit odd, it's probably because
		this is all experimental, and subject to change.</p>
	
	</div>
</div>
</body>

</html>
